/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 var(--space-4);
}

.header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
}

.header_logo {
  width: clamp(120px, 24vw, 190px);
  height: auto;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list a {
  display: block;
  width: 100%;
  /* padding: var(--space-1) var(--space-3); */
  font-family: var(--font-secondary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-nav);
  text-decoration: none;
  color: var(--color-green);
  gap: var(--space-1);
}

.footer-brand,
.footer-nav {
  display: none;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.footer-contact,
.footer-social {
  text-align: center;
  padding: 0;
}

.footer-contact h3,
.footer-social h3 {
  font-family: var(--font-primary);
  font-size: var(--subtitle);
  color: var(--color-gray-dark);
  font-weight: var(--fw-bold);
  margin: 0 0 var(--space-2);
}

.footer-contact address {
  font-style: normal;
  margin: 0;
  color: var(--color-gray-dark);
}
.footer-contact p {
  font-family: var(--font-secondary);
}

.footer-contact p {
  margin: 0;
}
.footer-socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* gap: var(--space-1); */
  align-items: center;
}

.footer-socials a {
  font-family: var(--font-secondary);
  font-size: var(--fs-nav);
  font-weight: var(--fw-semibold);
  color: var(--color-green);
  text-decoration: none;
  letter-spacing: 0.06em;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    flex-direction: row;
    justify-content: center;
  }

  .nav-divider {
    display: none;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
}